@import "./variables";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: $color-blue-dark;
  color: $color-white;
  border-top: 1px solid $color-blue-light;
  padding: 2rem;
  font-size: 1.6rem;
  & a,
  a:visited {
    text-decoration: none !important;
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
    }
  }

  &__email {
    color: $color-white;
  }
}
