@import "./variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @include sm {
    font-size: 50%;
  }
  @include tn {
    font-size: 44%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: calc(100vh - 31rem);
}
