// Variables

// Color

$color-white: #ffffff;
$color-black: #000000;
$color-transparent: #ffffff00;
$color-black: #0b0c10;
$color-black-light: #1f2833;

$color-grey-light: #f7f7f7;
$color-grey-dark: #696969;
$color-slate-dark: #29303b;
$color-blue-light: #9daaf2;
$color-blue-dark: #1a2238;

$color-youtube: #ff0000;
$color-linkedin: #0072b1;
$color-twitter: #00acee;

// Media Query Break Points

$screen-tn-max: 450px;
$screen-sm-max: 596px;
$screen-md-max: 768px;
$screen-lg-max: 992px;
$screen-xl-max: 1060px;

// Mixins

@mixin tn {
  @media (max-width: #{$screen-tn-max}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
    @content;
  }
}
